footer{
    text-align: center;
    font-size: small;
    margin-top: 30px;
}

#background-image{
    background-image: url(https://images.unsplash.com/photo-1617541224485-ca362e048814?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

#cityInput{
    align-self: center;

    width: 250px;
}

#searchButton {
    align-self: center;
    width: 100px;
}

#currentDate {
    font-weight: bolder;
    text-align: center;
}

#card-text{
    font-size: small;
}

#searchHeader{
    color:white;
    align-self: center;
    font-size: 25px;
    min-width: 200px;
    background: rgba( 19, 103, 149, 0.50 );
    padding: 10px;
    background: rgba( 19, 103, 149, 0.20 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9.5px );
    -webkit-backdrop-filter: blur( 9.5px );
    border-radius: 10px;

}

#searchColumn{
    display: flex;
    flex-direction: column;
    background-image: url('https://images.unsplash.com/photo-1558486012-817176f84c6d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=619&q=80');
    background-position: bottom;
    background-size: cover;
    border-radius: 15px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#prev-searches{
    text-align: center;
    align-self: center;
    padding-bottom: 40px;
}

#header5day{
    font-weight: bolder;
    text-align:center;
    font-size: larger;
}

#big-container{
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

.title-background {
    background-color:  rgba(56, 255, 245, 0.589);
    max-width:fit-content;
    
}

.list-background{
    background-color:blue;
}

.card{ 
    min-width: 140px; 
    border-style: none;
    border-radius: 15px;
    margin-top: 20px;
}

.container {
    max-width:90%;
    margin-left: auto;
    margin-right: auto;
}

.jumbotron{
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;

  }

.forecast-item {
    padding:0%;
    border-style: none;
}

.list-group-item{
    background-color: transparent;
}

.card-body {

    border-radius: 15px;
    color:white;
    background: rgba( 39, 19, 109, 0.90 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.0px );
    -webkit-backdrop-filter: blur( 4.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.forecast-date {
    font-weight: bolder;
    text-decoration: underline;
}

.saved-searches{
    width: 200px;
    margin-bottom: 10px;
    display: block;
}


/* @media screen and (max-width:690px){
    #searchHeader{
        font-size: 12px;
    }
        
    } */